/*---------
    Reset
----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------
    COMMON
----------*/

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    max-width: 1080px;
    min-width: 600px;
    margin: 0 auto;
}

p {
    margin: 0;
    padding-top: 10px;
    margin: 0;;
}

p{
    padding-top: 5px;
    margin-bottom: 10px;
}

h1{
    font-family: 'Fredoka', sans-serif;
    color:#E53170;
    text-align: center;
    margin: 30px;
}